html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: url("assets/mikael-gustafsson-wallpaper-mikael-gustafsson.jpg");
  background-size: cover;
}

h1 {
  color: #ffffff;
}
